<!--ddd
    accordionsection {{display}}
</p>
<p>{}
    {{_scrollHeight}} {{heading}}
</p> -->
<!-- <div class="ui styled accordion"> -->
<div (click)="headerClicked($event)" [ngClass]="display ? activeClass : inActiveClass">
    <accordionheader [head]='texting'></accordionheader>
    <!-- <ng-content select="accordionheader"></ng-content> -->
</div>
<div style="max-height: 0; overflow: hidden;" [ngClass]="display ? 'active content': 'inactive content'" #contentChild>
    <accordioncontent [content]='contenttext'></accordioncontent>
    <!-- <ng-content select="accordioncontent"></ng-content> -->
</div>
<!-- </div> -->
<!-- style="max-height: 0px; overflow: hidden;" -->