

<div (click)="headerClicked($event)" 
    [ngClass]="display ? activeClass : inActiveClass"
    style="padding-bottom: 1%;">
    <!-- <accordionheader [head]='texting'></accordionheader> -->
    <div class="iic">
        <i class="arrow icon caret right"></i> 
            
        <!-- icon in the ngClass here stands for the property of Collapsible.ts class property.
            it has property defined: @Input('icon') icon: string; which specifies the css class to apply 
            to the icon 
        -->
        <i class="tooltip" [ngClass]="icon"></i> 
        <span class=" titletext change-on-click">{{texting}}</span>
    </div>
</div>
<div style="max-height: 0; overflow: hidden;" [ngClass]="display ? 'active content': 'inactive content'" #contentChild>
        <span style="display: block;">content text</span>
        <span>content text</span>
        <!-- <Clickable [message]="'content text'" style="display: block;"></Clickable>
        <Clickable [message]="'content text'"></Clickable> -->
    <accordioncontent [content]='contenttext'>

    </accordioncontent>

    <!-- <ng-content select="accordioncontent"></ng-content> -->
</div>

<!-- </div> -->
<!-- style="max-height: 0px; overflow: hidden;" -->