<link href="C:/Source/ITS/ClientArea/assets/styles/tiles.css" rel="stylesheet">

<div style="width:800px; height: 400px; display:inline-block;">
    <div class="tiles">
        <div class="tile center">
            <div class="tilecontent">
                <span class="title">Your Equity</span>
                <!-- <span>Basic membership</span> -->
            </div>
            <span class="price">$0.00</span>
            <!-- <ul class="features">
            <li>view your trading history</li>
            <li>We need moneyy</li>
            <li>And more...</li>
        </ul> -->
            <span class="footer">View your trading history</span>
        </div>

        <div class="tile scale center">
            <div class="tilecontent">
                <span class="title">Your Balance</span>
            </div>
            <span class="price">$0.00</span>
            <!-- <ul class="features">
            <li>Some great feature</li>
            <li>Another super feature</li>
            <li>And more...</li>
        </ul> -->
            <button>Deposit</button>
        </div>

        <div class="tile center">
            <div class="tilecontent">
                <span class="title">Free Margin</span>
                <!-- <span>This is really a good deal!</span> -->
            </div>
            <span class="price">$0.0</span>
            <!-- <ul class="features">
            <li>Some great feature</li>
            <li>Another super feature</li>
            <li>And more...</li>
        </ul> -->
            <!-- <button>Sign up</button> -->
        </div>
    </div>
</div>

<p style="display: block; clear: both;">
    infotile works!
</p>